<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PaisController</servlet-name>
        <servlet-class>ajax.PaisController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaisController</servlet-name>
        <url-pattern>/paisController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SelectController</servlet-name>
        <servlet-class>ajax.SelectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectController</servlet-name>
        <url-pattern>/selectController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
